.shop-item-table {
    border: black solid 1px;
}

.shop-item-table-image-row
{
    height: 100px;
}

.shop-item-table-image-col{
    width: 200px;
}

.shop-item-table-image-col > img{
    height: 100px;
    width: 200px;
}

.shop-item-table-title-col {
    text-align: center;
}

.shop-item-table-desc-col {
    width: 200px;
    word-wrap: break-word;
}

.shop-item-table-buy-col {
    text-align: right;
}

.basket-table {
    width: 100%;
}
.basket-item-col-title {
    width: 80%;
}

.basket-item-col-cost{
    text-align: right;
}

